body {
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: 'HYWenHei 85W';
}

navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #000000BF; 
    padding: 25px 10px;
    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.nav {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 15px;       
    border-radius: 10px;      
    transition: background 0.3s, color 0.3s; 
}

.nav:hover {
    color: #000000;
    background-color: #ffffff; 
}

.logo {
    border-radius: 10px;
    height: 50px;
}

.page1 {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.bg_video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.description {
    margin-top: 450px; 
    margin-left: 20px;
    text-align: left;
    color: #fff;
    font-size: 15px;
}

.GI_text {
    height: 100px;
}

.link {
    background-color: #ffffff;
    font-family: 'HYWenHei 85W';
    border: none;
    color: #000000;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 7px;
    cursor: pointer;
}

.link:hover {
    background-color: #000000;
    color: #ffffff;
}

.but_logo {
    display: block;
    margin: 0 auto 3px auto;
    height: 20px;
}